@using Commons;
@model TaskDTO;
@{
    ViewData["Title"] = "Tareas";
    static string GetColor(Status estado) =>
    estado switch
    {
        Status.Nuevo => "ui green label",
        Status.EnProceso => "ui orange label",
        Status.Terminado => "ui red label",
        _ => "ui grey label"
    };
}

<div class="ui container">
    <h1 class="ui header">Lista de Tareas</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="ui negative message">
            <div class="header">Error</div>
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }

    <a id="create-btn" class="ui green button" onclick="createOrEdit()"><i class="icon save"></i></a>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                foreach (var task in Model.Items)
                {
                    var Color = GetColor(task.status);
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Description</td>
                        <td><a class="@Color">@task.status.GetDescription()</a></td>
                        <td>
                            <a onclick="createOrEdit('@task.Id',true,'@task.Title')" class="ui primary button"><i class="icon primary edit"></i></a>
                            <a onclick="confirmAction('@task.Id','@task.Title')" class="ui red button"><i class="icon trash"></i></a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
<div class="ui mini modal" id="alert">
    <i class="close icon"></i>
    <div class="header" id="modal-header">
    </div>
    <div class="content">

        <div class="description">
            Se eliminará el registro del sistema, presione si para continuar
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancelar
        </div>
        <div class="ui positive right labeled icon button">
            Si, eliminar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
<div class="ui modal" id="modal-form">
    <i class="close icon"></i>
    <div class="header" id="modal-form-header">
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <div class="two fields">
                    <label for="title">Titulo</label>
                    <div class="field">
                        <input id="id" hidden>
                        <input id="title">
                    </div>
                    <label for="description">Descripción</label>
                    <div class="field">
                        <input id="description">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancelar
        </div>
        <div class="ui positive right labeled icon button" onclick="saveOrUpdateTask()">
            Enviar
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
     $('.ui.modal').modal();
    });

    function confirmAction(id, title) {
        let Title = "¿Esta seguro de eliminar "+title+" ?";
        $('#modal-header').html(Title);
            $('#alert').modal('show');
    }
    function createOrEdit(id=null,edit=false, title=""){
        let Title =edit? "Actualizar "+title:"Registar";
        $('#modal-form-header').html(Title);
            if (edit && id) {
                 $('#id').val('');
                 $('#id').val(id);
                loadTaskData(id);
                $("#modal-form").modal('show');
            } else {
                 $('#id').val('');
                $('#title').val('');
                $('#description').val('');
                $("#modal-form").modal('show');
            }
    }
    function loadTaskData(id) {
        $.ajax({
            url: `/GetById/${id}`,
            method: 'GET',
            dataType: 'json',
            success: function (taskData) {
                console.log(taskData);
                $('#title').val(taskData.title);
                $('#description').val(taskData.description);
            },
            error: function (xhr, status, error) {
                console.error("Error al cargar la tarea:", error);
                 Swal.fire({
                      title: 'Advertencia!',
                      text: `No se pudo cargar la tarea. Por favor, inténtalo de nuevo.`,
                      icon: 'error',
                      confirmButtonText: 'Ok'
                    })
            }
        });
    }
    function saveOrUpdateTask() {
            const isEdit = $('#modal-form-header').text().includes("Actualizar");
            let Metod =isEdit? 'PUT':'POST';
            const title = $('#title').val();
            const description = $('#description').val();

            if (!title || !description) {
                    Swal.fire({
                      title: 'Advertencia!',
                      text: 'Por favor, complete todos los campos.',
                      icon: 'warning',
                      confirmButtonText: 'Continuar'
                    })
            }
            let data={
                Title:title,
                Description:description
            };
            if ($('#id').val()) {
                data.Id=parseInt($('#id').val())||0;
            }
            console.log(Metod,data)
            // Determinar si es creación o edición
            let mensaje= isEdit?"Actualizado con éxito":"Registrado con éxito"
             $.ajax({
            url: `/task`,
            method: Metod,
            data: data,
            dataType: 'json',
            success: function (response) {
                console.log(response);
                Swal.fire({
                      title: 'Operación exitosa',
                      text: `${mensaje}`,
                      icon: 'success',
                      confirmButtonText: 'Ok'
                    })
                    window.location.reload();
            },
            error: function (xhr, status, error) {
                let Action = $("#modal-form-header").text();
                 Swal.fire({
                      title: 'Advertencia!',
                      text: `Error al ${Action} la tarea`,
                      icon: 'error',
                      confirmButtonText: 'Ok'
                    })
                console.error(`Error al cargar la tarea:", ${error}`);
            }
        });
        }


</script>