@using Commons;
@model TaskDTO;
@{
    ViewData["Title"] = "Tareas";
    static string GetColor(Status estado) =>
    estado switch
    {
        Status.Nuevo => "ui green label",
        Status.EnProceso => "ui orange label",
        Status.Terminado => "ui red label",
        _ => "ui grey label"
    };
}

<div class="ui container">
    <h1 class="ui header">Lista de Tareas</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="ui negative message">
            <div class="header">Error</div>
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }

    <a id="create-btn" class="ui green button"><i class="icon save"></i></a>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                foreach (var task in Model.Items)
                {
                    var Color = GetColor(task.status);
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Description</td>
                        <td><a class="@Color">@task.status.GetDescription()</a></td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = task.Id })" class="ui primary button"><i class="icon primary edit"></i></a>
                            <a onclick="confirmAction('@task.Id','@task.Title')" class="ui red button"><i class="icon trash"></i></a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
<div class="ui mini modal" id="alert">
    <i class="close icon"></i>
    <div class="header">
        Profile Picture
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/avatar/large/chris.jpg">
        </div>
        <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Nope
        </div>
        <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script>
     $('.ui.modal').modal();
    function confirmAction(id, title) {
        //$('#alert').modal('show');
            $('.ui.mini.modal').modal('show');
    }

</script>