@using Commons;
@model TaskDTO;
@{
    ViewData["Title"] = "Tareas";
}

<div class="ui container">
    <h1 class="ui header">Lista de Tareas</h1>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="ui negative message">
            <div class="header">Error</div>
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }

    <a href="@Url.Action("Create")" class="ui primary button">Crear Nueva Tarea</a>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Completada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                foreach (var task in Model.Items)
                {
                    <tr>
                        <td>@task.Title</td>
                        <td>@task.Description</td>
                        <td>@task.status.ToString()</td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = task.Id })" class="ui button">Editar</a>
                            <form asp-action="Delete" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@task.Id" />
                                <button type="submit" class="ui red button">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>