@using Commons
@model LoginDTO
@{
    ViewData["Title"] = "Iniciar sesión";   
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container d-flex justify-content-center" style="height: 100vh;">
        <div class="row align-items-center justify-content-center" style="width: 100%;">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <div class="card shadow-lg mb-5 bg-body-tertiary rounded1 border border-0">
                    <div class="text-center title">
                        <div>
                            <img src="~/imagenes/serviciotecnicoconauto.png" class="mt-2" height="100" width="200" />
                        </div>
                        <p class="mb-4 mt-2">Inicia sesión</p>
                    </div>
                    @using (Html.BeginForm("IniciarSesion", "Cuenta", FormMethod.Post, new { @class = "ui inverted form" }))
                    {
                        

                        <div class="mb-2">
                            <div class="form-group">
                                <label class="form-label">Correo</label>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder= "Correo" })
                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "error-text text-danger" })
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label class="form-label">Contraseña</label>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder= "Contraseña" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "error-text text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="checkpass" class="mt-2" onclick="showPassword('Password')">
                                <label for="checkpass">Mostrar contraseña</label>
                            </div>
                        </div>
                        <button class="btn text-white" type="submit">Iniciar sesión</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        $(document).ready(function () {

            var merror = '@TempData["MensajeError"]';
            
            if (merror != '') {
                Swal.fire({
                    title: 'Ocurrió un error!',
                    icon: 'error',
                    html: '@Html.Raw(TempData["MensajeError"])'
                })
            }

            var msuccess = '@TempData["MensajeExito"]';

            if (msuccess != '') {
                Swal.fire({
                    title: 'Transacción exitosa!',
                    icon: 'success',
                    html: '@Html.Raw(TempData["MensajeExito"])'
                })
            }
        });

        function showPassword(id) {
            const input = document.getElementById(id)
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }

    </script>
</body>
</html>