<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebTask</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="ui container">
        <div class="ui secondary  menu">
            <a class="active item">
                Home
            </a>

            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <a class="ui item" onclick="redirectToLogin()">
                    Logout
                </a>
            </div>
        </div>

    </div>
    <div class="ui container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/modal.min.css" integrity="sha512-O+9HCSTa58q6mrPxDvnNqBc7sPkqC7ByndUgWVMa65B5Y0jRztCrdiIZAEmAee/0+oYpyjNQwj0d4qIaLbNJuQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
         $(document).ready(function () {
                    
         var merror = '@TempData["MensajeError"]';
            if (merror != '') {
                Swal.fire({
                    title: 'Ocurrió un error!',
                    icon: 'error',
                    html: `@Html.Raw(TempData["MensajeError"])`
                })
            }

            var msuccess = '@TempData["MensajeExito"]';
            if (msuccess != '') {
                Swal.fire({
                    title: 'Transacción exitosa!',
                    icon: 'success',
                    html: '@Html.Raw(TempData["MensajeExito"])'
                })
            }

            var minfo = '@TempData["MensajeInfo"]';
            if (minfo != '') {
                Swal.fire({
                    title: 'Información',
                    icon: 'info',
                    html: '@Html.Raw(TempData["MensajeInfo"])'
                })
            }
             });
         function redirectToLogin() {
            window.location.href = "/Areas/Seguridad/Cuenta/CerrarSession";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
